* {
  font-family: Geneva, Tahoma, sans-serif;
  margin: 0;
}

.App {
  min-height: 100vh;
  /* min-width: 800px; */
  display: flex;
}

.header-title {
  max-width: 70%;
  color: #333a45;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

div.general-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 20px;
  row-gap: 10px;
}

.general-info-header {
  grid-row: 1/2;
  grid-column: 1/3;
}

.general-info > .name {
  grid-column: 1/2;
}

.input-info,
.eduacation,
.experience {
  flex: 1;
  padding: 20px;
}

div.experience {
  padding: 0;
}

.input-form > * {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 10px;
}

label {
  gap: 4px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

input, textarea {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #283f62;
  transition: all 0.5s ease-out;
  outline: none;
  resize: none;
}

input {
  height: 35px;
}



input:focus, textarea:focus {
  box-shadow: 1px 1px 3px #283f627a;
}

.education-title {
  margin-bottom: 10px;
}

.education-entry {
  box-shadow: 1px 1px 5px #283f6290;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  gap: 20px;
  row-gap: 10px;
}

.education-entry > .name {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.education-entry > .title {
  grid-row: 1/2;
  grid-column: 2/3;
}

.education-entry > .start-date {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.education-entry > .graduation-date {
  grid-row: 2/3;
  grid-column: 2/3;
}

.education-entry > .delete-entry {
  justify-self: end;
  grid-column: 1/3;
}

.experience-title {
  margin-top: 10px;
}

.experience-entry {
  box-shadow: 1px 1px 5px #283f6290;
  /* border: 2px solid #283f62; */
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto auto;
  gap: 20px;
  row-gap: 10px;
}

.experience-entry > .name {
  grid-column: 1/2;
  grid-row: 1/2;
}

.experience-entry > .title {
  grid-column: 2/3;
  grid-row: 1/2;
}

.experience-entry > .start-date {
  grid-column: 1/2;
  grid-row: 2/3;
}

.experience-entry > .end-date {
  grid-column: 2/3;
  grid-row: 2/3;
}

.experience-entry > .main-tasks {
  grid-column: 1/3;
  grid-row: 3/4;
}

.experience-entry > button {
  grid-row: 4/ 5;
  grid-column: 2 /3;
  justify-self: end;
}



.output-info {
  flex: 1;
}

/* CSS */
.add-entry,
.delete-entry {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 20px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.add-entry:hover,
.add-entry:active,
.delete-entry:hover,
.delete-entry:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.add-entry:active,
.delete-entry:active {
  opacity: 0.5;
}

button.add-entry {
  align-self: center;
  background: #283f62;
  border: 1px solid #0a0535da;
}

button.add-entry:hover {
  color: #0a0535da;
}

button.add-entry:active {
  color: #0a0535da;
}
